<div class="container pt-5">
  <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
    <h1 class="text-center"> <%= @cocktail.name %> </h1>
  </div>

  <!-- Ingredient heading -->
  <div class="container">
    <% if @cocktail.doses.empty? %>
    <p class="text-gray text-center">
      No ingredients yet. Add yours!
    </p>
    <% else %>
    <h3 class="text-center"> List of Ingredients : </h3>

      <% end %>
  </div>
  <!-- Ingredient list -->
    <%= render "cards_ingredients" %>
  <div class="col">
    <!-- Add cocktail form -->
    <div class="container pt-5" id="ingredient-form">
      <div class="row justify-content-center">
        <div class="col-12 md-8">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.association :ingredient,  prompt: "Pick one from list" %>
            <%= f.input :description %>
            <%= f.submit "Shake Da Mother Fucking Cocktail !", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


